<div id="todoContainer">
  <h1>TODO LIST</h1>

  <h1>{{selectedDateToShow.date}} {{selectedDateToShow.month}} {{selectedDateToShow.year}}</h1>

  <input autofocus="autofocus"
         type="text"
         placeholder="Whats needs to be done?"
         (change)="changeField()"
         [(ngModel)]="inputField"
         class="newMessage"
         #inputForm>

  <ul>
    <li *ngFor="let note of selectedNotes"
        [class.complete]="note.success">
      <input type="checkbox"
             [name]="note.id"
             (click)="toggleSuccessNote(note)"
             [checked]="note.success">

      <label for="{{note.id}}"
             [class.complete]="note.success">
        {{ note.text }}
      </label>

      <button type="button"
              class="edit-button"
              (click)="editNote(note)">
        ✎
      </button>

      <button type="button"
              class="close"
              (click)="deleteNote(note)">
        X
      </button>
    </li>
  </ul>
</div>
