<div id="todoContainer">
  <h1>TODO LIST</h1>

  <h1>{{selectedDateToShow.date}} {{selectedDateToShow.month}} {{selectedDateToShow.year}}</h1>

  <input autofocus="autofocus"
         type="text"
         placeholder="Whats needs to be done?"
         (change)="changeEditField()"
         [(ngModel)]="editField"
         class="newMessage"
         #inputForm>

  <ul>
    <li *ngFor="let key of selectedNotes"
        [class.complete]="key.success">
      <input type="checkbox"
             [name]="key.id"
             (click)="checkSuccessNote(key)"
             [checked]="key.success">

      <label for="{{key.id}}"
             [class.complete]="key.success">
        {{ key.text }}
      </label>

      <button type="button"
              class="redact"
              (click)="changeNoteButtonPress(key)">
        ✎
      </button>

      <button type="button"
              class="close"
              (click)="deleteButtonPress(key)">
        X
      </button>
    </li>
  </ul>
</div>
