#newMessage {
  padding: 16px 16px 16px 60px;
  font-size: 26px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

#todoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

label {
  padding-left: 40px;
}

li {
  overflow: hidden;
  position: relative;
  font-size: 36px;
  padding: 10px;
  width: 409px;
  background-color: #eeeeee;
  border-bottom: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

li input {
  height: 20px;
  width: 20px;
}

li button {
  position: absolute;
  top: 20px;
}

.redact {
  right: 40px;
}

.close {
  right: 10px;
}

.button-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.complete {
  text-decoration: line-through;
  background-color: rgb(9, 200, 4);
}